body, ul {
    margin: 0;
    padding: 0;
    background-color: #FCFBF7;
    color: #485240;
}

header {
  background-color: #FCFBF7;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #485240;
  text-decoration: none;
}

nav a:hover {
  color: #B9BBB2;
}

input, textarea, select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #6b9c51;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #507a3e;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

form div {
  margin-bottom: 1rem;
}